name: Docker Image CI

on:
  push:
    # Publish `master` as Docker `latest` image.
    branches:
      - master

    # Publish `v1.2.3` tags as releases.
    tags:
      - v*

  # Run tests for any PRs.
  pull_request:

env:
  IMAGE_NAME: node-minimal
  NODE_VERSION: "12.18.1"

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Install ccache
        run: |
          sudo apt-get -qq update
          sudo apt-get -qq install ccache
          sudo /usr/sbin/update-ccache-symlinks

      - name: Restore Cache
        uses: actions/cache@v2
        with:
          path: ~/.ccache
          key: ${{ runner.os }}-node-${{ env.NODE_VERSION }}-ccache

      - name: Build Node
        run: |
          export PATH="/usr/lib/ccache:$PATH"
          which gcc
          ./build.sh -n $NODE_VERSION
          ccache -s
          cp node-v$NODE_VERSION/out/Release/node node

      - name: Build Image
        run: docker build . --file Dockerfile --tag $IMAGE_NAME

      - name: Test Image
        run: docker run --rm $IMAGE_NAME -e "console.log('Hello from Node.js ' + process.version)"

      - name: Export Image
        run: docker save $IMAGE_NAME > $IMAGE_NAME.tar

      - name: Upload Image
        uses: actions/upload-artifact@2.1.0
        with:
          name: ${{ env.IMAGE_NAME }}-${{ env.NODE_VERSION }}
          path: ${{ env.IMAGE_NAME }}.tar

  # Push image to GitHub Packages.
  # See also https://docs.docker.com/docker-hub/builds/
  push:
    # Ensure test job passes before pushing image.
    needs: build

    runs-on: ubuntu-latest
    if: github.event_name == 'push'

    steps:
      - uses: actions/checkout@v2

      - name: Download Image
        uses: actions/download-artifact@v2
        with:
          name: ${{ env.IMAGE_NAME }}-${{ env.NODE_VERSION }}

      - name: Import Image
        run: docker load < $IMAGE_NAME.tar

      - name: Log into registry
        run: echo "${{ secrets.GITHUB_TOKEN }}" | docker login docker.pkg.github.com -u ${{ github.actor }} --password-stdin

      - name: Push Image
        run: |
          IMAGE_ID=docker.pkg.github.com/${{ github.repository }}/$IMAGE_NAME

          # Change all uppercase to lowercase
          IMAGE_ID=$(echo $IMAGE_ID | tr '[A-Z]' '[a-z]')

          # Strip git ref prefix from version
          VERSION=$(echo "${{ github.ref }}" | sed -e 's,.*/\(.*\),\1,')

          # Strip "v" prefix from tag name
          [[ "${{ github.ref }}" == "refs/tags/"* ]] && VERSION=$(echo $VERSION | sed -e 's/^v//')

          # Use Docker `latest` tag convention
          [ "$VERSION" == "master" ] && VERSION=latest

          echo IMAGE_ID=$IMAGE_ID
          echo VERSION=$VERSION

          docker tag $IMAGE_NAME $IMAGE_ID:$VERSION
          docker push $IMAGE_ID:$VERSION
