name: Docker Image Testing

on:
  pull_request:
    paths:
      - "Dockerfile"
      - "build.sh"
      - ".github/workflows/dockerimage.yml"

env:
  IMAGE_NAME: node-minimal

jobs:
  build:
    strategy:
      matrix:
        os:
          - ubuntu-24.04
          - ubuntu-24.04-arm
        platform:
          - amd64
          - arm64
        exclude:
          - os: ubuntu-24.04
            platform: arm64
          - os: ubuntu-24.04-arm
            platform: amd64

    runs-on: ${{ matrix.os }}

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: ccache
        uses: hendrikmuhs/ccache-action@v1.2
        with:
          key: ${{ matrix.os }}-${{ matrix.platform }}
          max-size: 10G

      - name: Configure ccache
        run: |
          ccache --set-config=sloppiness=time_macros,locale,include_file_ctime,include_file_mtime
          ccache --set-config=hash_dir=false
          ccache -p

      - name: Get latest node version
        run: echo "LATEST_VERSION=$(curl -fsSLo- --compressed https://nodejs.org/dist/index.json | jq '.[].version' | tr -d '"' | tr -d 'v' | head -1)" >> $GITHUB_ENV

      - name: Display Node Version
        run: |
          echo "Building Node.js version: $LATEST_VERSION"

      - name: Build Node
        run: |
          export PATH="/usr/lib/ccache:/usr/local/opt/ccache/libexec:$PATH"
          which gcc
          ./build.sh -n $LATEST_VERSION
          ccache -s
          cp node-v$LATEST_VERSION/out/Release/node node

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build Image
        uses: docker/build-push-action@v6
        with:
          context: .
          platforms: linux/${{ matrix.platform }}
          load: true
          tags: ${{ env.IMAGE_NAME }}-${{ env.LATEST_VERSION }}

      - name: Test Image
        run: docker run --rm ${{ env.IMAGE_NAME }}-${{ env.LATEST_VERSION }} -e "console.log('Hello from Node.js ' + process.version)"
